.bg-dg {
    background-color: hsl(131, 24%, 18%);
}
.bg-g {
    background-color: hsl(125, 18%, 25%);
}
.bg-lg {
    background-color: hsl(125, 19%, 39%);
}
.bg-w {
    background-color: hsl(54, 68%, 94%);
}
.bg-lb {
    background-color: hsl(32, 50%, 62%);
}
.bg-b {
    background-color: hsl(28, 50%, 44%);
}
.bg-g-gradient {
    background: linear-gradient(0deg, hsl(125, 19%, 39%) 0%, hsl(125, 18%, 25%) 50%, hsl(131, 24%, 18%) 100%); 
    background-attachment: scroll;
}
.bg-w-gradient {
    background: linear-gradient(0deg, hsl(54, 68%, 94%) 80%, hsl(32, 50%, 62%) 100%);
    background-attachment: scroll;
}
.bg-navbar {
    backdrop-filter: blur(5px)
}

.c-dg {
    color: hsl(131, 24%, 18%);
}
.c-g {
    color: hsl(125, 18%, 25%);
}
.c-lg {
    color: hsl(125, 19%, 39%);
}
.c-w {
    color: hsl(54, 68%, 94%);
}
.c-lb {
    color: hsl(32, 50%, 62%);
}
.c-b {
    color: hsl(28, 50%, 44%);
}

.b-dg {
    border-color: hsl(131, 24%, 18%) !important;
}
.b-g {
    border-color: hsl(125, 18%, 25%) !important; 
}
.b-lg {
    border-color: hsl(125, 19%, 39%) !important;
}
.b-w {
    border-color: hsl(54, 68%, 94%) !important;
}
.b-lb {
    border-color: hsl(32, 50%, 62%) !important;
}
.b-b {
    border-color: hsl(28, 50%, 44%) !important;
}

.text-justify {
    text-align: justify;
}

a:hover {
    color: hsl(32, 50%, 62%) !important;
}

.navbar-toggler:focus {
    background-color: hsl(54, 68%, 94%);
    box-shadow: none;
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-height {
    height: 100vh;
}